/* Variables */

$font-logo: 'Yesteryear', cursive;
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;

$color-main: #fed136;
$color-dark: #222222;
$color-grey: #333333;
$color-bright: #777777;
$color-bg: #f7f7f7;

$transition: all 0.5s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
    font-size: 14px;
    color: $color-bright;
}

a {
    cursor: pointer;
}

.sect {
    padding: 60px 26px 72px 26px;
}

.section-title {
    font-family: $font-title;
    font-weight: 700;
    font-size: 36px;
    color: $color-dark;
    text-align: center;
    margin-bottom: 0px;
}

.subtitle {
    font-family: $font-subtitle;
    text-align: center;
    font-size: 16px;
    margin: 12px 0;
}

.card-title {
    font-family: $font-title;
    font-weight: 700;
    font-size: 18px;
    color: $color-dark;
    margin: 24px 0;
}

/* Header */

header {
    height: 120px;
}

header .container {
    height: inherit;
}

.navigation {
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    justify-content: center;
}

.nav-logo span {
    font-family: $font-logo;
    font-size: 36px;
    color: $color-main;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    font-family: $font-title;
    font-weight: 400;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
}

.nav-links a:hover {
    color: $color-main;
}

/* Splash */

.splash {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/splash-bg-image.png);
    background-position: center center;
    background-size: cover;
}

.splash-inner {
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.splash-subtitle {
    margin: 16px 0;
    font-family: $font-subtitle;
    font-size: 32px;
}

.splash-title {
    margin: 32px 0;
    font-family: $font-title;
    font-weight: 700;
    font-size: 60px;
}

.splash-btn {
    display: inline-block;
    font-family: $font-title;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid $color-main;
    border-radius: 6px;
    background-color: $color-main;
    padding: 12px 24px;
}

.splash-btn:hover {
    transform: scale(1.1);
    transition: $transition;
}

/* Services */

.services .row {
    margin-top: 60px;
}

.card {
    text-align: center;
}

.services-icon {
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border: 2px solid $color-main;
    border-radius: 50%;
    text-align: center;
    cursor: initial;
}

.services-icon i {
    font-size: 37px;
    color: $color-main;
    vertical-align: sub;
}

/* Portfolio */

.portfolio {
    background-color: $color-bg;
}

.portfolio .row {
    margin-top: 60px;
    margin-bottom: 26px;
}

.portfolio-box {
    background-color: white;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 36px;
}

.img-box {
    width: auto;
    height: auto;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    text-align: center;
    padding: 18px 0;
}

.description .card-title {
    color: $color-grey;
    margin: 0;
}

.description p {
    font-family: $font-subtitle;
    margin: 0;
}

/* Responsive */

@media only screen and (max-width: 768px) {
    .splash-subtitle {
        font-size: 24px;
        margin: 8px 0;
    }
    .splash-title {
        font-size: 36px;
        margin: 16px 0;
    }
    .splash-btn {
        font-size: 14px;
    }
    .splash-inner {
        transform: translate(-50%, -35%);
    }
    .sect {
        padding: 36px 26px 48px 26px;
    }
    .services .row {
        margin-top: 36px;
    }
    .card {
        margin-top: 24px;
    }
    .portfolio .row {
        margin-bottom: 0;
    }    
}
@media only screen and (max-width: 425px) {
    .nav-links a {
        margin-left: 8px;
        margin-bottom: 6px;
    }
    .splash-inner {
        transform: translate(-50%, -35%);
    }
}