/* Variables */

$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;

$color-main: #fed136;
$color-dark: #222222;
$color-bright: #777777;
$color-bg: #f7f7f7;